/* Style Settings */
*{
    margin: 0;
    font-style: normal;
    font-family: "Nunito", sans-serif;
}
:root{
    --background-color-card: #fff0f3;
    --button-color:#aa73ad;
    --button-hover:#2A2A2A;
    --text-color: #212529;
    --text-hover-color:var(--background-color-card);
}
body{
    background-image: url(Assets/background.png);
}
/* Navigation styles */
nav{
    padding: 10px;
    background-color: var(--background-color-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        margin-right: 20px;
        display: flex;
        gap: 20px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    a{
        text-decoration: none;
    }
    span{
       font-size: 30px;
    }
}
/* Login Card Syles */
section{
    display: flex;
    justify-content: center;
    .loginCard{
    display: flex;
    flex-direction: column;
    margin: 70px 0px;
    padding: 0px 40px;
    background-color: var(--background-color-card);
    border-radius: 15px;
    width: 400px;
    height: 650px;
    h2{
    text-align: center;
    font-size: 35px;
    margin: 20px;
    }
}
}
/* Inputs styles */
.inputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
    div{
        display: flex;
        flex-direction: column;
        gap: 5px;
        input{
            border: none;
            border-radius: 5px;
            box-shadow: 1px 5px 2px 1px #0000000f;
            height: 30px;
            outline: none;
        }
        a{
            margin-top: 5px;
            color: var(--text-color);
        }
        div{
            display: flex;
        flex-direction: row;
        button{
            width: 30px;
            margin-left: 65px;
            background-color: transparent;
            border: none;
            img{
                width: 35px;
                height: 22px;
                transition: ease-in-out 0.2s;
            }
            img:active{
                content: url(Assets/closed.png);
                width: 35px;
                height: 22px;
                cursor: pointer;
                transition: ease-in-out 0.2s;
            }
        }
        }
    }
}
/* Style password left */
.left{
    text-align: end;
}
/* Checkbox */
.checkbox{
    margin: 20px 0px;
}
/* Submit Login and Hover */
#login{
    background-color: var(--button-color);
    font-weight: 600 ;
    border-radius: 10px;
    border: none;
    height: 40px;
    color: var(--background-color-card);
    font-weight: bold;
    transition: ease-in-out 0.2s;
    width: 400px;
}
#login:hover{
    color: var(--text-hover-color);
    background-color: var(--button-hover);
    transition: ease-in-out 0.2s;
}
/* Else styles */
.loginElse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 10px;
    p{
        opacity: 60%;
    }
    a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    background: transparent;
    border: 2px solid var(--button-color);
    border-radius: 50%;
    color: var(--button-color);
    margin: 15px 5px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    }
    a:hover{
        transition: 0.2s ease-in-out;
        background-color: #aa73ad;
        color: var(--background-color-card);
    }
}
/* Create account styles */
.createAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 30px 0px;
    p{
        opacity: 60%;
    }
    a{
        color: var(--text-color);
        text-decoration: none;
        font-weight: 500;
    }
}
/* Register Styles */
.alreadyAccount{
    color: var(--button-color);
    padding-top: 10px;
    span{
        font-size: large;
    }
}
main{
    display: flex;
    justify-content: center;
}
/* Register Card */
.registerCard{
    background-color: var(--background-color-card);
    border-radius: 15px;
    margin: 70px 0px;
    padding: 40px 40px;
    width: 400px;
    height: 724px;
}
/* Register Titles */
.registerTitles{
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        margin-bottom: 5px;
        font-size: 35px;
    }
    p{
        opacity: 60%;
    }
}
/* Inputs */
.names{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 30px 0px 15px 0px;
    input{
        width: 193px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 5px 2px 1px #0000000f;
        height: 30px;
        outline: none;
    }
}
.birth{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 15px 0px 15px 0px;
    div{
        display: flex;
        gap: 10px;
    }
    input{
        width: 126px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 5px 2px 1px #0000000f;
        height: 30px;
        outline: none;
    }
}
#gender{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 15px 0px 15px 0px;
}
.flexCheckbox{
    display: flex;
    gap: 10px;
    label{
        opacity: 60%;
    }
    div{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 5px 5px;
        border-radius: 5px;
        width: 126px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 5px 2px 1px #0000000f;
    }
}
.userPassword{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    input{
        width: 396px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 5px 2px 1px #0000000f;
        height: 30px;
        outline: none;
    }
}
/* Terms and Condition styles */
.termsConditions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0px 0px 0px;
    a{
        color: cornflowerblue;
        /* text-decoration: none; */
    }
}
span{
    cursor: pointer;
}
/* button Styles */
.btnCreateAccount{
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    input{
        background-color: var(--button-color);
        color: var(--background-color-card);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px 50px;
        cursor: pointer;
        transition: ease-in-out 0.2s;
    }
    input:hover{
        transition: ease-in-out 0.2s;
        color: var(--background-color-card);
        background-color: var(--button-hover);
    }
    a{
        color: #212529;
        text-decoration: none;
    }
}